<!DOCTYPE html>
{% load blog_tags %}
{% block toc %}{% endblock %}

{#<div class="row">#}
{#    <div class="widget">#}
{#        <h4>分类</h4>#}
{#        {% get_categories as category_list %}#}
{#        <ul class="list-group">#}
{#        {% for category in category_list %}#}
{#            <li class="list-group-item">#}
{#                <a href="{% url 'blog:blog_category' category.id %}">{{ category.name }}</a>#}
{#                <span class="badge">{% get_entry_count_of_category category.name %}</span>#}
{#            </li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    </div> #}
{#</div>#}

<div class="row">
    <div class="widget">
       <div > <h4>最新</h4></div>
        {% get_recent_entries as recent_entry_list %}
        <ul class="list-group">
        {% for entry in recent_entry_list %}
            <li class="list-group-item">
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <div>{{ entry.author }}   发表于：{{ entry.created_time|date:"Y年m月d日" }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="widget">
        <div><h4>推荐</h4></div>

        {% get_popular_entries as popular_entry_list %}
        <ul class="list-group">
        {% for entry in popular_entry_list %}
            <li class="list-group-item">
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <span class="badge" style="color: white;background-color: darkgreen">{{ entry.visiting }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% if request.session.login or request.user.is_authenticated %}
<div class="row">
    <div class="widget">
        <h4>归档</h4>
        {% archives as date_list %}
        <ul class="list-group">
        {% for date in date_list %}
            <li class="list-group-item">
                <a href="{% url 'blog:blog_archives' date.year date.month %}">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    {{ date.year }} 年 {{ date.month }} 月
                    <span class="badge">{% get_entry_count_of_date date.year date.month %}</span>
                </a>

            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="widget" >
        <h4>标签云</h4>
        {% get_tags as tag_list %}
        {% for tag in tag_list %}
                <a href="{% url 'blog:blog_tag' tag.id %}" style="font-size: 20px;">
                    <span style="padding: 5px;" class="label {% cycle 'label-default' 'label-primary' 'label-success' 'label-info' 'label-warning' 'label-danger' %}">{{ tag.name }}</span>
                </a>&nbsp;
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="rss">
        <a href="/latest/feed/"><i class="glyphicon glyphicon-plus"></i>RSS 订阅</a>
    </div>
</div>
{% endif %}

